/* Media queries /////////////// */
@media (min-width: 751px) { 
    #nav-container {
        background-color: rgb(248, 245, 245);
    }
}
@media (max-width: 750px) {
    #nav-container {
        background-color: yellow;
    }
}

/* Navbar styling ///////////// */
#nav-container {
    border-right: 3px groove lightgray;
    padding: 80px 0px 30px 0px;
    height: 90%;
    width: 275px;
    position: fixed;
    top: -10px;
    left: -5px;
    overflow-y: auto;
}
nav ul li {
    list-style: none;
    border-bottom: 3px groove lightgray;
    padding: 20px 0px 20px 30px;
    position: relative;
    left: -50px;
    width:109%;
    top: -19px;
}
.nav-link {
    text-decoration: none;
    font-size: 25px;
}
#top-link {
    border-top: 3px groove lightgray;
}
#navbar header {
    padding-bottom: 20px;
    padding-left: 22px;
    left: -8px;
    font-size: 40px;
    border-bottom: 3px groove lightgray;
    width: 95%;
    position: relative;
}

/* Main section Styling //////////// */
#main-container {
    padding-top: 70px;
    margin-left: 350px;
}
.title {
    font-size: 75px;
}
section header {
    font-size: 40px;
}
section {
    margin: 60px 10px 80px 10px;
    font-size: 20px;
    
}
